.footer {
  padding-top: 88px;
  padding-bottom: 48px;
  @include media-query('tablet') {
    padding-top: 44px;
    padding-bottom: 24px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding-bottom: 32px;
    border-bottom: 1px solid $color-btn-sec;
    @include media-query('tablet') {
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 16px;
    }
  }

  &__left {
    display: flex;
    align-items: flex-end;
    gap: 64px;
    @include media-query('tablet') {
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 16px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
    @include media-query('tablet') {
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 16px;
    }
  }

  &__link {
    color: #fff;

    font-family: $font-satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__bottom {
    padding-top: 32px;
    width: 100%;
    display: flex;
  }

  &__text {
    font-family: var(--Family-Title, Satoshi);
    font-size: var(--Size-3xs, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-3xs, 18px); /* 128.571% */
  }
}
