.opportunity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__container {
    padding-top: 96px;
    padding-bottom: 160px;
    max-width: 1118px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    @include media-query('tablet') {
      padding-top: 48px;
      padding-bottom: 80px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: $gap-xl;
    align-self: stretch;

    & img {
      @include media-query('mobile') {
        width: 100%;
      }
    }

    @include media-query('tablet') {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $gap-2xl;
    text-align: left;
    flex: 1 0 0;
    @include media-query('tablet') {
      align-items: center;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    @include media-query('tablet') {
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 300px;
    width: 100%;
    @include media-query('tablet') {
      gap: 8px;
    }
  }

  &__title {
    color: $color-btn-sec;
  }

  &__line {
    width: 1px;
    height: 184px;
    background: $color-border-light;
    @include media-query('tablet') {
      display: none;
    }

    @include media-query('mobile') {
      display: flex;
      width: 100%;
      height: 1px;
    }
  }
}
