.policy {
  display: flex;
  padding: 88px 0;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  text-align: start;

  &__title {
    max-width: 1120px;
    width: 100%;
    text-align: start;
  }

  &__copy {
    max-width: 1120px;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    color: $color-btn-sec;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__item {
    color: white;
    text-decoration: underline;
  }

  &__browsers {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: circle;
    padding-left: 24px;
    color: $color-btn-sec;
  }

  &__text {
    line-height: 20px;
    font-weight: 300;
  }

  &__ul {
    padding-left: 32px;
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_sub {
      padding-left: 32px;
      list-style: square;
    }
  }

  &__sub {
    font-size: 16px;
    font-weight: 500;
    color: $color-text-main;
  }

  &__header {
    font-size: 20px;
    font-weight: 500;
  }
}

strong {
  font-weight: 500;
  color: $color-text-main;
}
