.team {
  padding-top: 88px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  overflow: hidden;
  @include media-query('tablet') {
    padding-top: 44px;
    padding-bottom: 48px;
    gap: 16px;
  }

  &__item {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex: 1 0 0;
    border-radius: 24px;
    background: $color-bg-card;
    margin: 0 15px;
  }

  &__title {
    color: $color-text-main;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align: start;
    max-width: 373px;
    height: 40px;
  }

  &__name {
    color: $color-btn-sec;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    max-width: 238px;
  }

  &__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    @include media-query('tablet') {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__links {
    display: flex;
    gap: 18px;
    align-items: center;
  }
  &__line {
    width: 1px;
    height: 730px;
    background: $color-border-light;
    @include media-query('tablet') {
      display: none;
    }
  }

  &__img {
    object-fit: cover;
    height: 100%;

    &-wrapper {
      max-width: 373px;
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
      height: 406px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }

  &__button {
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    background: #545957;
  }
}

.slick-slider {
  width: 100%;
  position: relative;
  padding-bottom: 100px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: auto;
  bottom: 0px;
  z-index: 1;
  background-color: $color-btn-sec !important;
  border-radius: 50%;
  color: #fff;
  font-size: 40px !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 24px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button:before {
  font-size: 16px;
  color: #2c3430;
}
.slick-dots li.slick-active button:before {
  font-size: 16px;
  color: $color-btn-sec;
}

.team__items button.slick-next::before,
.team__items button.slick-prev::before {
  display: none;
}

.team__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team__item {
  flex: 1 0 30%;
  margin: 10px;
}

.popup {
  z-index: 12;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: end;
  align-items: start;
  @include media-query('tablet') {
    justify-content: start;
  }

  &__img {
    width: 100%;
    height: 320px;
    flex-shrink: 0;
    background-color: #a6a6a6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & img {
      height: 100%;
      justify-content: end;
    }
  }

  &__title {
    color: $color-text-ter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    @include media-query('tablet') {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__description {
    color: #545957;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-xs, 24px);
    overflow: scroll;

    @include media-query('tablet') {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__links {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  &__copy {
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    justify-self: start;
    width: 100%;
    overflow: scroll;

    @include media-query('tablet') {
      padding: 20px 24px;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-border-light;
  }

  &__name {
    color: $color-text-ter;

    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    @include media-query('tablet') {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__head {
    width: 100%;
    text-align: left;
  }
}

.popup__content {
  position: relative;
  background: white;
  text-align: center;
  height: 100%;
  display: flex;
  width: 824px;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  @include media-query('tablet') {
    width: 100%;
  }
}

.popup__close {
  position: absolute;
  right: 32px;
  top: 32px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 64px;
  background: $color-btn-sec;
}
